.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: pink; */
}

.shortcut ul {
    display: flex;
    height: 52px;
}

.shortcut li {
    line-height: 52px;
}

.shortcut li a {
    font-size: 14px;
    padding: 0 15px;
    /* 给a加边框线, 而不是给li加边框线 */
    /* 因为a的高度和字体的高度一致 */
    border-left: 1px solid #999;
    color: #fff;
}

.shortcut li .login {
    border-left: 0;
    color: #5EB69C;
}

.shortcut li:last-child a {
    padding: 0 0 0 15px;
}

.shortcut li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.header {
    display: flex;
    align-items: center;
    height: 88px;
    margin: 22px auto;
    /* background-color: pink; */
}

.header .logo {
    margin-right: 41px;
    /* background-color: skyblue; */
}

.header .logo a {
    display: block;
    width: 200px;
    height: 88px;
    background-image: url("../images/logo.png");
    font-size: 0;
}

.header .navi {
    margin-right: 28px;
    /* background-color: skyblue; */
}

.header .navi ul {
    display: flex;
}

.header .navi ul li {
    padding-right: 47px;
    line-height: 88px;
}

.header .navi ul a {
    padding-bottom: 10px;
}

.header .navi ul a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.header .navi ul li:first-child a {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

.header .search {
    display: flex;
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #F4F4F4;
}

.header .search .iconfont {
    margin-right: 8px;
    color: #ccc;
    font-style: 18px;
    line-height: 32px;
}

.header .search input {
    /* 浏览器优先生效input标签的默认宽度, 所以flex: 1 不生效 */
    /* 解决方案: 重置input的默认宽度, 即设置宽度为0 */
    flex: 1;
    width: 0;
}

.header .search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

.header .cart {
    position: relative;
    margin-top: 32px;
}

.header .cart .iconfont {
    font-size: 30px;
    color: #343434;
}

.header .cart i {
    padding: 0 6px;
    position: absolute;
    top: 2px;
    left: 18px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #FFFEFE;
    background-color: #E26237;
    border-radius: 8px;
}

.footer {
    height: 580px;
    background-color: #F5F5F5;
}

.footer .service {
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}

.footer .service ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 178px;
}

.footer .service ul li {
    display: flex;
    width: 190px;
    height: 58px;
    align-items: center;
}

.footer .service ul li h5 {
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url("../images/sprite.png");
}

.footer .service ul li p {
    color: #333;
    font-size: 28px;
}

.footer .service ul li:nth-child(2) h5 {
    background-position: 0 -58px;
}

.footer .service ul li:nth-child(3) h5 {
    background-position: 0 -116px;
}

.footer .service ul li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.footer .help {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    height: 300px;
    /* background-color: pink; */
}

.footer .help .left {
    display: flex;
    justify-content: space-between;
}

.footer .help .left dl {
    margin-right: 84px;
}

.footer .help .left dl:last-child {
    margin-right: 0;
}

.footer .help .left dl dt {
    margin-bottom: 30px;
    font-size: 18px;
    color: #333333;
}

.footer .help .left dl dd,
.footer .help .left dl dd a {
    margin-bottom: 10.5px;
    font-size: 16px;
    color: #969696;
}

.footer .help .left dl .iconfont {
    color: #74B2A3;
}

.footer .help .right ul {
    display: flex;
}

.footer .help .right ul li:first-child {
    margin-right: 55px;
}

.footer .help .right li .pic {
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.footer .help .right li p {
    text-align: center;
    font-size: 16px;
    color: #969696;
}

.footer .copyright p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #A1A1A1;
}

.footer .copyright p a {
    font-size: 16px;
    color: #A1A1A1;
}

.banner {
    background-color: #F5F5F5;
}

.banner .wrapper {
    height: 500px;
    background-color: pink;
    overflow: hidden;
}

.banner .pic {
    display: flex;
}

.banner .pic img {
    width: 1240px;
}