/* 首页样式 */

/* 全局wrapper样式 */
/* 版心居中效果 必须设置宽度 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

.header {
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    height: 100px;
    align-items: center;
}

.logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url("../images/logo.png");
    font-size: 0;
}

.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-right: 24px;
    padding: 0 8px 6px;
}

.nav ul li a {
    line-height: 27px;
    font-size: 19px;
}

.nav .active,
.nav li:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;

    display: flex;
    align-items: center;

    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input {
    border: 0;
    background-color: transparent;

    /* 去掉输入框的焦点框 */
    outline: none;

    /* 将输入框设置为最大 */
    flex: 1;
}

/* 设置placeholder内文字的样式 */
.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.search a {
    width: 16px;
    height: 16px;
    background-image: url("../images/search.png");
}

.user {
    margin-left: 32px;
}

.user a {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 7px;
    width: 30px;
    height: 30px;
}

.user p {
    font-size: 16px;
    color: #666;
}

.banner {
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 420px;
    background-image: url("../uploads/banner.png");
}

.banner .left {
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left ul {
    padding: 3px 20px 3px;
    width: 191px;
    height: 420px;
}

.banner .left li a {
    /* 块级的好处: 宽度是父级的100% */
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    line-height: 46px;
    background-image: url("../images/right.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.banner .left li a:hover {
    color: #00a4ff;
    background-image: url("../images/right-hover.png");
}

.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right>p {
    margin-top: 18px;
    margin-left: 14px;
    margin-bottom: 9px;
    font-size: 15px;
    color: #fff;
}

.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right .content li {
    border-bottom: 1px solid #e0e0e0;
    width: 190px;
    height: 53px;
}

.banner .right .content li:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;
}

.banner .right .content li p {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
}

.banner .right .content li .courseinfo {
    font-size: 12px;
    color: #7d7d7d;
    line-height: 16px;
    margin-bottom: 8px;
}

.banner .right .content li .courseinfo span:first-child {
    color: #00a4ff;
}

.banner .right .content a {
    display: block;
    margin-top: 14px;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}

.recommand {
    margin-top: 11px;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
}

.recommand a {
    display: block;
}

.recommand>a:nth-child(1) {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #00a4ff;
}

.recommand ul {
    display: flex;
    align-items: center;
    flex: 1;
}

.recommand ul li a {
    padding: 0 24px;
    border-left: 1px solid #e0e0e0;

    font-size: 18px;
}

.recommand ul li .modify {
    border: none;
    padding-left: 0;
}

.recommand>a:nth-child(3) {
    margin-right: 20px;
    font-size: 16px;
    color: #00a4ff;
}

.course {
    height: 621px;
}

/* 这个hd标签是公用的 */
.hd {
    display: flex;
    margin-top: 30px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

.hd p {
    font-size: 21px;
    color: #333;
}

/* 这个a标签是公用的 */
.more {
    padding-right: 20px;
    font-size: 14px;
    color: #999;
    background-image: url("../images/more.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.course .bd {
    margin-top: 15px;
    height: 556px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/* bd a 是公共样式 */
.bd a {
    display: block;
    height: 271px;

    /* 这里必须定死宽度, 这样标题才能自动换行 */
    width: 228px;
}

.bd a .pic {
    /* 必须设成block, 不然图片和div间有间距 */

    /* 必须设置高度(与图片一样高), 不然两个div之间有距离 */
    height: 156px;
}

.bd a .text {
    height: 115px;
    padding: 20px 20px 22px;
    background-color: #fff;
}

.bd a .text h4 {
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.bd a .text p {
    margin-top: 16px;
    font-size: 14px;
    color: #999;
}

.bd a .text p span {
    color: #fa6400;
}

.bd a .text p i {
    font-style: normal;
}

/* 公共样式.hd ul */
.hd ul {
    display: flex;
    width: 308px;
    justify-content: space-between;
}

.hd ul .ahover {
    color: #00a4ff;
    font-size: 16px;
}

.hd ul li a:hover {
    color: #00a4ff;
}

.frontdev .bd {
    display: flex;
    height: 386px;
    justify-content: space-between;
}

.frontdev .bd .left {
    width: 228px;
}

.frontdev .bd .right {
    width: 957px;
}

.frontdev .bd .right .up {
    margin-bottom: 15px;
    height: 100px;
}

.frontdev .bd .right .down ul {
    display: flex;
    justify-content: space-between;
}

.aidev {
    height: 316px;
}

.aidev .bd {
    height: 271px;
}

.aidev .bd ul {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.footer {
    margin-top: 60px;
    padding: 60px 0px 65px 0;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left .logo {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url("../images/logo.png");
    font-size: 0;
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    width: 440px;
    font-size: 12px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: solid 1px #00a4ff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
    width: 516px;
    height: 151px;
    justify-content: space-between;
}

.footer .right dt a {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    color: #333;
}

.footer .right dd a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}